p{
    font-size: medium;
    font-family: sans-serif;
    color: black;
}
h1{
    font-family: sans-serif;
    color: black;
    text-align: center;
}

:focus{
    border: solid black 2px;
}

a:hover{
    border:solid blue 2px;
}